<% content_for(:head) do %>
<meta property="og:site_name" content="Clippy">
<meta property="og:url" content="https://audiohack.herokuapp.com/">
<meta property="og:title" content="Example Thing">
<meta property="og:image" content="https://i.imgur.com/dng2YSM.jpg">

<meta property="og:type" content="video">

<meta property="og:video:url"        content="https://audiohack.herokuapp.com/convert">
<meta property="og:video:secure_url" content="https://audiohack.herokuapp.com/convert">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">

<meta property="og:video:url" content="https://vimeo.com/moogaloop.swf?clip_id=132550202&amp;autoplay=1">
<meta property="og:video:secure_url" content="https://vimeo.com/moogaloop.swf?clip_id=132550202&amp;autoplay=1">
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="640">
<meta property="og:video:height" content="360">

<% end %>

<h2>share this page</h2>