<% content_for(:head) do %>
<meta name="description" content="Share clips of your favorite podcasts to Facebook">
<% end %>

<section class="home">
	<h1>Welcome to soundszr</h1>
	<p>On soundszr, listeners can select and share moments of their favorite podcasts with their favorite people on Facebook.</p>	
	
</section>

<%= link_to "Shows", shows_path %><br>
<%= link_to "Episodes", episodes_path %><br>
<%= link_to "Clips", clips_path %><br>
<%= link_to "Users", users_path %><br>